final project.json
{
  "name": "final project",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "c933e26f-949b-4e9b-9b6e-4a93b0e8091b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer this question ONLY from the document text below.\n\nDOCUMENT TEXT:\n{{ $json.text }}\n\nQUESTION:\n{{ $json.body.question }}\n",
        "options": {
          "systemMessage": "You must answer only from the information inside the uploaded document. \nIf the answer is not present in the document, respond exactly:\n\"Information not available in the uploaded document.\"\nDo not summarize. Do not provide insights. Just give direct answer to the question only.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "9afe0462-6cb2-4c1f-8711-e2f96437fe8d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "7845afbf-7919-4e56-b387-07e492702866",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0fqTpXlv0OKUOpBk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        0
      ],
      "id": "763f3ecf-7605-4dbf-9851-1b2cc938cb10",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 5000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "b5ed5936-06e6-420f-9df9-346df4927f96",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "298078b1-5ec3-4a35-811e-9e7063e5358e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b2978040-75bd-43cf-9662-4d1f298e1d6d",
      "name": "Webhook for resume",
      "webhookId": "298078b1-5ec3-4a35-811e-9e7063e5358e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fd3ac7d5-612c-4bb8-86b6-dbbde3d0223c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        224
      ],
      "id": "fb550124-b152-4501-834a-5357fe4d97db",
      "name": "Webhook for research paper",
      "webhookId": "fd3ac7d5-612c-4bb8-86b6-dbbde3d0223c"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        112,
        240
      ],
      "id": "058d653d-f09b-4a22-be4b-24cdbccb7693",
      "name": "Extract from File1"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook for resume": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook for research paper": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19261094-c92b-404d-b556-040a4e2608e9",
  "meta": {
    "instanceId": "10d2ad641fe9e049ba3bdd99ee5e2f80a9c4cfa9c08ca1a9604bd2d655460b95"
  },
  "id": "giXV86JB0Ah41ANF",
  "tags": []
}